@import "./common.css";

#app {
  width: 80%;
  margin: 2rem auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.btn-run {
  background-color: var(--ColorBackground);
  border-radius: 1rem;
  border: 1px solid var(--ColorGrayLv2);
  box-shadow: var(--EffectShadow);
  padding: 1rem;
  transition: all 0.2s;
  &:hover {
    background-color: var(--ColorGrayLv2);
  }
}

.error {
  border: 1px solid var(--ColorError);
  background-color: var(--ColorBackground);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: var(--EffectShadow);

  &:empty {
    display: none;
  }
}

/* table 스타일링 */
table {
  font-size: 1.1rem;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid var(--ColorGrayLv2);
}
thead {
  background-color: var(--ColorPrimary);
  color: var(--ColorBackground);
}
tbody {
  color: var(--ColorSurface);
}
th,
td {
  white-space: nowrap;
  border: 1px solid var(--ColorGrayLv2);
}
